<nz-space>
  <nz-badge [nzCount]="(cartTotalItemsCount | async) || 0" nzShowZero>
    <button nz-button nzSize="large" nzType="primary" (click)="open()">
      Cart
    </button>
  </nz-badge>
</nz-space>

<nz-drawer
  nzWidth="500px"
  [nzVisible]="visible"
  nzPlacement="right"
  [nzTitle]="title"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    @for (cartProduct of cartProducts | async; track cartProduct.id) {
    <app-cart-product-card [cartProduct]="cartProduct" />
    }

    <!-- shipping -->
    @if((cartProducts | async)?.length === 0) {
    <h2>Cart is empty</h2>
    } @else {
    <app-shipping />
    }
  </ng-container>
</nz-drawer>
