<div class="product-card">
  <img class="thumbnail" [src]="product.thumbnail" alt="product" />
  <div class="product-info">
    <p class="title">{{ product.title }}</p>
    <p class="description">{{ product.description }}</p>

    @if(isAlreadyInCart$ | async) {
    <button
      nz-button
      nzSize="default"
      class="add-another"
      nzType="primary"
      nzShape="round"
      (click)="onAddToCart()"
    >
      Add another
    </button>
    }
  </div>

  <div class="product-actions">
    <button nz-button>Edit</button>
    <button nz-button>Delete</button>
    @if(!(isAlreadyInCart$ | async)) {
    <button nz-button (click)="onAddToCart()">Add to cart</button>
    }
  </div>
</div>
