<div class="product-card">
  <a class="thumbnail" [routerLink]="['/product', product.id]">
    <img [src]="product.thumbnail" alt="product" />
  </a>
  <div class="product-info">
    <a class="thumbnail" [routerLink]="['/product', product.id]">
      <p class="title">{{ product.title }}</p>
    </a>
    <a class="thumbnail" [routerLink]="['/product', product.id]">
      <p class="description">{{ product.description }}</p>
    </a>

    @if(cartProductCount$ | async) {
    <button
      nz-button
      nzSize="small"
      class="add-another"
      nzType="dashed"
      nzShape="round"
    >
      In Cart: {{ cartProductCount$ | async }}
    </button>
    }
  </div>

  <div class="product-actions">
    <app-edit-product [product]="product" />
    <button nz-button (click)="onDeleteProduct()" nzDanger nzType="dashed">
      Delete
    </button>
    <button nz-button (click)="onAddToCart()">Add to cart</button>
  </div>
</div>
