<div class="product-card">
  <a class="thumbnail" [routerLink]="['/product', product.id]">
    <img [src]="product.thumbnail" alt="product" />
  </a>
  <div class="product-info">
    <a class="thumbnail" [routerLink]="['/product', product.id]">
      <p class="title">{{ product.title }}</p>
    </a>
    <a class="thumbnail" [routerLink]="['/product', product.id]">
      <p class="description">{{ product.description }}</p>
    </a>

    @if(isAlreadyInCart$ | async) {
    <button
      nz-button
      nzSize="default"
      class="add-another"
      nzType="primary"
      nzShape="round"
      (click)="onAddToCart()"
    >
      Add another
    </button>
    }
  </div>

  <div class="product-actions">
    <button nz-button>Edit</button>
    <button nz-button (click)="onDeleteProduct()">Delete</button>
    @if(!(isAlreadyInCart$ | async)) {
    <button nz-button (click)="onAddToCart()">Add to cart</button>
    }
  </div>
</div>
