.cart-product-card {
  border: 1px solid rgb(243, 243, 243);
  border-radius: 6px;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

.cart-product-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px rgba(169, 170, 180, 0.199) solid;
  background: linear-gradient(135deg, #3291841f, #3b39bd1e);
}

.cart-product-card .product-info {
  flex-grow: 1;
}

.cart-product-card .title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  text-overflow: ellipsis;
  margin-bottom: 0.5em;
}

.cart-product-card .action-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-product-card .count {
  display: grid;
  place-items: center;
  border-radius: 4px;
  padding: 0.2em;
  border: 1px rgba(169, 170, 180, 0.199) solid;
  background: linear-gradient(135deg, #3291841f, #3b39bd1e);
}
