<!-- if no products and loading then show spinner -->

<div class="home">
  <app-topbar-actions />

  @if(((products$ | async ) ?? []).length <= 0 && (loading$ | async)) {
  <div
    style="
      display: flex;
      justify-content: center;
      height: 100vh;
      padding-top: 200px;
    "
  >
    <nz-spin nzSimple nzSize="large"></nz-spin>
  </div>
  } @else {
  <div class="products-container">
    @for (product of products$ | async; track product.id) {
    <app-product-card [product]="product" />
    }
  </div>

  <button
    nz-button
    (click)="loadMoreProducts()"
    style="margin-top: 20px"
    nzSize="large"
    nzType="dashed"
    [nzLoading]="loading$ | async"
  >
    Load More
  </button>
  }
</div>
