<!-- if no products and loading then show spinner -->

@if(products.length <= 0 && loading) {
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  "
>
  <nz-spin nzSimple nzSize="large"></nz-spin>
</div>
} @else {
<div class="home">
  <div class="products-container">
    @for (product of products; track product.id) {
    <app-product-card [product]="product" />
    }
  </div>

  <button
    nz-button
    (click)="loadProducts()"
    style="margin-top: 20px"
    nzSize="large"
    nzType="dashed"
    [nzLoading]="loading"
  >
    Load More
  </button>
</div>
}
